<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    
    <h1>Create Trip</h1>

<form action="/trip/new" method="POST">

<input name="tripName" placeholder="Trip Name" required>

<input name="members" type="number" placeholder="Members" required>

<button>Create Trip</button>

</form>
</body>
</html>